p {
  font-family: Verdana;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-text {
  font-weight: bold;
  margin-bottom: 5px;
}

.level-text {
  color:  #606060;
  margin-bottom: 20px;
}

.desc-text {
  width: 300px;
  line-height: 20px;
}
