p {

  font-family: Montserrat;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 2px;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
  
}